* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, lightblue, rgb(16, 171, 223));
    font-family: "DM Sans", sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px;
    width: 300px    ;
}

.sidebar__navigation {
    color: white;
    background-color: rgb(13, 94, 121);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.sidebar__navigation ul {
    margin-top: 20px;
    padding-bottom: 10px;
}

.sidebar__navigation ul li {
    padding: 10px 0;
}

.sidebar__navigation ul li a{
    color:white;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.sidebar__navigation ul li .fa {
    font-size: 20px;
    margin-right: 7px;
}

.biblioteca {
    margin-top: 20px;
}

.biblioteca__detalhes {
    display: flex;
    justify-content: space-between;
}

.biblioteca__detalhes__icon {
    display: flex;
    gap: 10px;
    font-size: 17px;
}

.primeira-playlist {
    margin-top: 20px;
    background-color: rgb(3, 117, 155);
    padding: 20px;
    border-radius: 8px;
}

.create-playlist {
    display: block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    width: fit-content;
    margin-top: 20px;
    border-radius: 10px;
}

.biblioteca .configs {
    margin-top: 30px;
} 

.biblioteca .configs .languages {
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
}

#addlibrary {
    background-color: transparent;
    color: white;
    font-size: 14px;
}
