.hamburguer {
    transform: translateX(-100%);
    margin-right: 20px;
    position: fixed;
    color: var(--primary-color);
    font-size: 2em;
    z-index: 5;
    user-select: none;
    width: 50px;
    height: 50px;
    right: -50px;
    display: none;
    background-color: var(--contrast-color-mais-fraca);
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

.hamburguer:hover {
    background-color: var(--contrast-color);
}

@media screen and (max-width: 1058px){
    .hamburguer {
        display: flex;
    }   

    .sidebar {
        margin: 10px 0 10px 10px;
        height: fit-content;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.232);
        padding: 0;
        overflow: hidden;
        z-index: 4;
        transform: translateX(calc(-100% - 10px));
        transition: .2s;
    }

    .biblioteca {
        margin-top: 0;
    }

    .sidebar__navigation {
        border-radius: 0;
    }

    .sidebar.appear {
        transform: translateX(0);
        transition: .2s;
    }

    main {
        max-width: calc(100vw - 30px) !important;
        margin-left: auto !important;
        margin-right: auto;
        overflow: auto;
    }

    main::-webkit-scrollbar {
        display: none;
    }

    .search-bar nav {
        justify-content: center;
    }

    
    .search-bar__navigation-and-search {
        justify-content: center;
    }

    .nav__search input {
        width: calc(90vw - 120px);
    }
}